[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.22.3"
opencv-python = "==4.5.5.64"
cycler = "==0.11.0"
fonttools = "==4.33.3"
kiwisolver = "==1.4.2"
llvmlite = "==0.38.1"
matplotlib = "==3.5.2"
numba = "==0.55.2"
pillow = "==9.1.1"
pyparsing = "==3.0.9"
python-dateutil = "==2.8.2"
six = "==1.16.0"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
